@use 'variables' as *;

.applicationsPage {
	padding: 2rem 0;
	background: url(https://drive.google.com/uc?id=1Q73jDjZJ5sgUL6i5I3uO8dnkv9AWy1oc) no-repeat;
    background-size: cover;
	color: white;
	span{
		color:#51DDC3;
	}
	h1 {
		margin-bottom: 2rem;
	}
}

.application {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
	padding: 1rem 1.5rem;
	border-radius: 12px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	color: $black-color;
	background: #e1e1e1;
	border-radius: 20px;
	a {
		display: block;
		text-decoration: none;
		color: inherit;
	}

	.applicantName {
		margin-bottom: 1rem;
		font-size: 1.125rem;
		font-weight: 600;
	}

	h2 {
		display: flex;
		align-items: center;
	}

	.status {
		padding: 0.25rem 0.5rem;
		margin-left: 0.5rem;
		font-size: 0.875rem;
		text-transform: uppercase;
		color: $white-color;

		&.pending {
			background-color: $black-color;
		}

		&.approved {
			background-color: green;
		}

		&.rejected {
			background-color: red;
		}
		&.interview {
			background-color: blue;
		}
	}
	.applicationBase{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 1rem 1.5rem;
	}

	.applicationDetails {

		p {
			margin-bottom: 0.5rem;
		}
		a {
			text-decoration: underline;
			color: blue;
		}
	}

	.applicationButtons {
		display: flex;
		align-items:center;
		margin-top: 1rem;

		button {
			margin-right: 0.5rem;
			padding: 0.75rem 1.5rem;
			border-radius: 8px;
			border: none;
			background-color: $accent-color;
			color: $black-color;
			font-weight: 600;
			cursor: pointer;

			&:disabled {
				opacity: 0.5;
				cursor: not-allowed;
			}
		}
	}

}
.createInterviewForm {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	max-width: 600px;
	padding: 1rem;
	justify-content: space-between;
	border-radius: 12px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	color: $black-color;

	.formGroup {
		display: flex;
		flex-direction: column;
		margin-bottom: 1rem;

		label {
			display: block;
			margin-bottom: 0.25rem;
			font-weight: 400;
			font-size: 0.75rem;
			text-transform: uppercase;
		}

		input,
		textarea,
		select {
			display: block;
			width: 100%;
			padding: 0.5rem 1rem;
			border-radius: 4px;
			border: 1px solid $black-color;
		}

		textarea {
			padding: 1rem;
			height: 200px;
			resize: vertical;
		}
	}

	button {
		padding: 0.75rem 1rem;
		border: none;
		border-radius: 4px;
		background-color: $black-color;
		color: $white-color;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.75rem;
		cursor: pointer;
	}
}


