@use 'variables' as *;

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	background-color: $black-color;
	z-index: 100;
	font-size: 0.875rem;
	color: $white-color;

	.headerNav {
		display: flex;
		align-items: center;
	}

	a {
		display: inline-block;
		margin: 0 1rem;
		color: $white-color;
		text-decoration: none;
	}
}