@use 'variables' as *;

.login {
	display: flex;
	height: 100vh;

	.loginEmployer,
	.loginCandidate {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		flex: 1 0 50%;
		padding: 4rem;

		h2 {
			margin-bottom: 2rem;
		}

		p {
			margin-bottom: 2rem;
		}
	}

	.loginCandidate {
		background-color: $black-color;
		color: $white-color;

		.googleLogin {
			background-color: $white-color;
			color: $black-color;
		}
	}

	.googleLogin {
		padding: 0.5rem 1rem;
		background-color: $black-color;
		color: $white-color;
		text-decoration: none;
	}
}