@use 'variables' as *;

.notificationsPage {
	padding: 2rem 0;
	background: url(https://drive.google.com/uc?id=1Q73jDjZJ5sgUL6i5I3uO8dnkv9AWy1oc) no-repeat;
    background-size: cover;
	color: white;
	span{
		color:#51DDC3;
	}
	h1 {
		margin-bottom: 2rem;
	}

	h2 {
		margin-bottom: 1rem;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;




		li {
			background: #e1e1e1;
			border-radius: 20px;
		    color: $black-color;
			margin-bottom: 1rem;
			padding: 1rem 1.5rem;
		}

		.notificationDisabled {
			opacity: 0.5;
			pointer-events: none;
			cursor: not-allowed;
		}

		h3 {
			margin-bottom: 1rem;
			font-size: 1rem;
			font-weight: 600;
		}

		.notificationContent {
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}

		.notificationDate {
			padding: 0.25rem;
			margin-bottom: 0;
			margin-right: 0.5rem;
			border-radius: 6px;
			border: 1.5px solid #aeaeae;
			font-size: 0.75rem;
			color: #21ab7b;
		}

		button {
			padding: 0.75rem 1.2rem;
			margin-left: 1rem;
		    border-radius: 5.56vw;
		    background-color: #51DDC3;
			border: none;
			color: $black-color;
			cursor: pointer;
			font-weight: 700;
		}
	}
}
