@use 'variables' as *;

.profilePage {
	padding: 2rem 0;

	h1 {
		margin-bottom: 2rem;
	}
}

.companyProfileForm {
	margin-top: 2rem;
	
	.formGroup {
		margin-bottom: 1rem;

		label {
			display: block;
			margin-bottom: 0.25rem;
			font-weight: 400;
			font-size: 0.75rem;
			text-transform: uppercase;
		}

		input,
		textarea,
		select {
			display: block;
			width: 100%;
			padding: 0.5rem 1rem;
			border-radius: 4px;
			border: 1px solid $black-color;
		}

		textarea {
			padding: 1rem;
			height: 200px;
			resize: vertical;
		}
	}

	button {
		padding: 0.75rem 1rem;
		border: none;
		border-radius: 4px;
		background-color: $black-color;
		color: $white-color;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.75rem;
		cursor: pointer;
	}
}